* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: roboto-mono;
  src: url(./assets/fonts/RobotoMono-Bold.ttf);
}

.chek {
  width: 660px !important;
  height: 1600px !important;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 64px;
}

.logo {
  width: 465px;
  height: 110px;
  margin: 0 auto;
}

.naqsh {
  margin-top: 31px;
  margin-bottom: 32px;
}

.chek-bottom h1 {
  font-family: roboto-mono;
  font-weight: 700;
  text-align: center;
  margin-top: 6px;
  font-size: 36px;
  letter-spacing: 5% !important;
  line-height: 150%;
  color: #000;
}

.chek-bottom p {
  font-family: roboto-mono;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 5% !important;
  line-height: 150%;
  color: #000;
}

.chek-bottom {
  text-align: center;
  margin-top: 42px;
}

.qr-code {
  width: 353px;
  height: 353px;
  margin: 15px auto;
}

.chek-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chek-row {
  display: grid;
  grid-template-columns: 45% 55%;
  font-family: roboto-mono;
}

.chek-row span:last-child {
  text-align: right;
}

.chek-row span {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5% !important;
  line-height: 150%;
  word-break: break-word;
}

@media print {
  @page {
    size: 58mm auto;
    margin: 0;
  }

  html,
  body {
    width: 58mm;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
  }

  .chek {
    width: 58mm !important;
    height: auto !important;
    padding: 4mm 0;
  }

  .chek-row {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 4px;
  }

  .chek-row span:first-child {
    white-space: nowrap;
  }

  .chek-row span:last-child {
    text-align: right;
  }

  button {
    display: none;
  }
  .logo {
    display: block;
    margin: 0 auto 6mm auto;
    width: 42mm !important;
    height: auto !important;
  }
  .qr-code {
    display: block;
    margin: 6mm auto;
    width: 32mm !important;
    height: 32mm !important;
  }
  .chek-row span {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1%;
  }
  .chek-bottom h1 {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1%;
  }
  .chek-bottom p {
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1%;
  }
}
