* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 660px !important;
  max-height: 1600px !important;
}

@font-face {
  font-family: roboto-mono;
  src: url(./assets/fonts/RobotoMono-Bold.ttf);
}

.chek {
  width: 660px !important;
  height: 1600px !important;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 64px;
}

.logo {
  width: 465px;
  height: 110px;
  margin: 0 auto;
}

.naqsh {
  margin-top: 31px;
  margin-bottom: 32px;
}

.chek-bottom h1 {
  font-family: roboto-mono;
  font-weight: 700;
  text-align: center;
  margin-top: 6px;
  font-size: 36px;
  letter-spacing: 5% !important;
  line-height: 150%;
  color: #000;
}

.chek-bottom p {
  font-family: roboto-mono;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 5% !important;
  line-height: 150%;
  color: #000;
}

.chek-bottom {
  text-align: center;
  margin-top: 42px;
}

.qr-code {
  width: 353px;
  height: 353px;
  margin: 15px auto;
}

.chek-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chek-content h2 {
  font-family: roboto-mono;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 5% !important;
  color: #000;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
